main{
    width: 1869px;
    margin: 0 auto;
}
.top{
    float: left;
    width: 1869px;
    height: 101px;
    border-bottom: 1px solid #efefef;
}
.top_li3{
    float: right;
    margin-top: 43px;
    padding-right: 49px;
}
.top_li1{
    float: right;
    padding-right: 156px;
    margin-top: 31px;
}
.top_li2{
    float: right;
    padding-right: 49px;
    margin-top: 38px;
}
.top_li4{
    float: right;
    padding-right: 49px;
    margin-top: 33px;
}
.top a{
    float: left;
    color: #333333;
    text-decoration: none;
}
.top a:hover{
    color: #00b9f2;
    float: right;
    text-decoration: none;
}
.ssk{
    width:213px;
    height: 37px;
    border-top: 1px solid #cecece;
    border-left: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    background:  url(../img/T3.gif) no-repeat white 184px;
    border-radius: 17px;
}
.top2{
    float: left;
    background-color: #f6f8fb;
    width: 1869px;
    height: 88px;
}
.top2 li{
    float: right;
}
.top2_li1{
    line-height: 88px;
    margin-right: 26px;
}
.top2_li1 a{
    font-size: 18px;
    text-decoration: none;
    color: #333333;
}
.top2_li1 a:hover{
    font-size: 18px;
    text-decoration: underline;
    color: #00b9f2;
}
.top2_li2{
    float: right;
    margin-top: 33px;
    margin-right: 26px;
}
.top2_li3{
    margin-right: 881px;
    line-height: 88px;
    font-size: 30px;
    color: #000000;
}
.top3{
    float: left;
    width: 1869px;
    height: 1267px;
}
.top3_left{
    float: left;
    width: 909px;
    height: 1267px;
}
.top3_left_top{
    float: left;
    width: 909px;
    height: 723px;
}
.top3_left_in{
    float: left;
    width: 909px;
    height: 97px;
}
.top3_left_in li{
    float: left;
}
.top3_left_in_li1{
    margin-left: 228px;
}
.top3_left_in_li2{
    margin-left: 99px;
}
.top3_left_in_li3{
    margin-left: 126px;
}
.top3_left_in_li4{
    margin-left: 102px;
}
.top3_left_btn{
    float: left;
    width: 909px;
    height: 447px;
}
.top3_left_btn ul{
    float: left;
}
.top3_left_btn_ul1{
    margin-left: 230px;
    margin-top: 46px;
}
.top3_left_btn_ul2{
    margin-left: 55px;
    margin-top: 40px;
}
.top3_left_btn a{
    text-decoration: none;
    color: #bfbfbf;
}
.top3_right{
    float: left;
    width: 959px;
    height: 1267px;
}
.top3_right_shang{
    float: left;
    width: 800px;
    height: 177px;
}
.top3_right_shang_p1{
    color: #262626;
    font-size: 25px;
    font-weight: bold;
    margin-top: 69px;
}
.top3_right_shang_p2{
    color: #e22841;
    font-size: 18px;
}
.top3_right_zhong{
    float: left;
    width: 800px;
    height: 123px;
    background-color: #f4f6fa;
}
.top3_right_zhong_p1{
    font-size: 25px;
    color: #e02b41;
    font-weight: bold;
}
.top3_right_zhong_p2 span{
    background-color: #f2eaef;
    color: #e02b41;
    padding: 5px 18px 5px 18px;
    margin-left: 12px;
    font-size: 15px;
}
.top3_right_zhong_p2{
    font-size: 15px;
    color: #595959;
}
.top3_right_zhong_p2 a{
    font-size: 15px;
    text-decoration: none;
    color: #27b3ff;
}
.top3_right_zhong2{
    float: left;
    width: 800px;
    height: 146px;
    border-bottom: 1px dashed #dedede;
}
.top3_right_zhong2_top{
    float: left;
    width: 800px;
    height: 70px;
}
.top3_right_zhong2_top li{
    float: left;
    color: #8c8c8c;
}
.top3_right_zhong2_li1{
    margin-top: 28px;
    margin-left: 13px;
}
.top3_right_zhong2_li2{
    margin-top: 23px;
    margin-left: 24px;
}
.top3_right_zhong2_in{
    float: left;
    width: 800px;
    height: 29px;
}
.top3_right_zhong2_in li{
    float: left;
    color: #8c8c8c;
    margin-left: 13px;
}
.top3_right_zhong2_btn{
    float: left;
    width: 800px;
    height: 47px;
}
.top3_right_zhong2_btn ul{
    margin-left: 93px;
}
.top3_right_zhong2_btn li{
    float: left;
    color: #8c8c8c;
}
.top3_right_zhong2_btn_li1{
    margin-top: 5px;
}
.top3_right_zhong2_btn img{
    float: left;
}
.top3_right_zhong2_btn a{
    text-decoration: none;
    float: left;
    margin-top: 5px;
    color: #27b3ff;
}
.top3_right_btn{
    float: left;
    width: 800px;
    height: 821px;
}
.top3_right_btn .input{
    background: white;
    border: 1px solid #bfbfbf;
    font-size: 20px;
    width: 222px;
    height: 52px;
    color: #595959;
}
.top3_right_btn_ul1 li{
    float: left;
    line-height: 52px;
    margin-left: 13px;
    margin-top: 25px;
    color: #8c8c8c;
    font-size: 15px;
}
.top3_right_btn_ul2{
    margin-left: 86px;
}
.top3_right_btn_ul2 li{
    float: left;
    line-height: 52px;
    margin-right: 13px;
    margin-top: 13px;
}
.top3_right_btn_ul3 li{
    float: left;
    line-height: 52px;
    margin-left: 13px;
    margin-top: 25px;
    color: #8c8c8c;
    font-size: 15px;
}
.top3_right_btn_shang{
    float: left;
    width: 800px;
    height: 77px;
}
.top3_right_btn_ul4 li{
    float: left;
    line-height: 52px;
    margin-left: 13px;
    margin-top: 25px;
    color: #8c8c8c;
    font-size: 15px;
}
.top3_right_btn_ul5 li{
    float: left;
    margin-top: 60px;
}
.top3_right_btn_li1{
    background-color: #27b3ff;
    width: 262px;
    height: 70px;
    margin-right: 30px;
}
.top3_right_btn_li1 a{
    color: #ffffff;
    text-decoration: none;
    font-size: 25px;
    line-height: 70px;
    margin-left: 81px;
}
.top3_right_btn_li2{
    background-color: #ffffff;
    border: 1px solid #27b3ff;
    width: 262px;
    height: 68px;
}
.top3_right_btn_li2 a{
    color: #27b3ff;
    text-decoration: none;
    font-size: 25px;
    line-height: 70px;
    margin-left: 74px;
}
.top4{
    float: left;
    width: 1869px;
    height: 2628px;
    background-color: #f4f4f4;
}
.top4 p{
    font-size: 30px;
    margin-left: 160px;
    margin-top: 65px;
    font-weight: bold;
}
.top4 img{
    margin-left: 160px;
}
.top5{
    width: 1869px;
    height: 40px;
    float: left;
}
.top5_zuo{
    float: left;
    width: 911px;
    height: 40px;
}
.top5_zuo ul{
    margin-left: 309px;
}
.top5_zuo li{
    float: left;
    line-height: 40px;
    margin-right: 11px;
}
.top5_zuo a{
    text-decoration: none;
    color: #000000;
    font-size: 16px;
}
.top5_zuo a:hover{
    text-decoration: none;
    color: red;
}
.top5_in{
    width: 493px;
    height: 40px;
    float: left;
}
.top5_in li{
    float: left;
    line-height: 40px;
    font-size: 16px;
}
.top5_span1{
    color:#000000;
}
.top5_span2{
    margin-left: 16px;
    color:#000000;
}
.top5_span3{
    margin-left: 30px;
    color: #ffffff;
    background-color: #32a5e7;
    padding: 3px 5px;
}
.top5_you{
    float: left;
    width: 465px;
    height: 40px;
}
.top5_you li{
    float: left;
    margin-right: 18px;
}